*{
    padding: 0;
    margin: 0;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
/*menú*/
nav{
    position: sticky;
}
/*mediaq que centre la imagen en dispositivos medianos y pequeños*/
/*Estilos relacionados con el main*/
main{
    padding: 20px;
    color: white;
    background-color: #25273e;
}

/*Ajustes logo*/
.logo{
    height: 75px;
    width: auto;
    margin: 20px;
}
.logo:hover{
    transform: scale(110%);
}
/*pie de página*/
footer{
    background-color: #1f2233;
    color: white;
    padding: 20px;
}
footer .derechos{
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

.iconos{
    align-items:center ;
    display: flex;
    justify-content: center;
}
.iconos div{
    padding: 10px;
}