*{
    padding: 0;
    margin: 0;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
/*menú*/


/*Estilos relacionados con el main*/
main{
    padding: 20px;
    color: white;
    background-color: #25273e;
}

/*Ajustes logo*/
.logo{
    height: 75px;
    width: auto;
    margin: 20px;
}
.logo:hover{
    transform: scale(110%);
}
/*pie de página*/
footer{
    background-color: #1f2233;

}

