.breadcrumb {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}
.breadcrumb .breadcrumb-item:not(:last-child)::before {
  float: left;
  padding-right: 0.5rem;
  transform: translateY(-3px);
  color: #6c757d;
  content: ".";
}
.breadcrumb .breadcrumb-item:last-child::before {
  content: ".";
  transform: translateY(-3px);
}