@keyframes backgroundChange {
    0%{background-color: aqua; height: 600px;}
    25%{background-color: blue; height: 400px;}
    50%{background-color: cadetblue; height: 1000px;}
    75%{background-color: chartreuse; height: 200px;}
    100%{background-color: red;}
}
div{
   height: 500px;
   width: 500px;
    border: 1px black dotted;
    animation-duration: 5s;
    animation-name: backgroundChange;
}
img{
    transition: 2s;
}
img:hover{
    transform: rotate(3000deg);
}