@import "../bootstrap/scss/bootstrap";

.nav-link{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 18px;
}
.nav-item {
    padding: 20px;
}
.nav-link:hover{
    color: white;
    //border-bottom: red 1px solid;
    transition: none;
}
